.header {
    background: #fff;
}

.header__inner {
    margin: 0;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #f5c800;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.body {
    background: #f8f8f8;
    padding: 20px;
    min-height: 100vh;
}